---
import { ViewTransitions } from "astro:transitions";
import "../../global.css";
import "virtual:uno.css";

interface Props {
  title: string;
  description: string;
  page?: "travel" | "blog";
  slug?: string | undefined;
  frontmatter?: {
    file: string;
    url: string | undefined;
  } & {
    title: string;
    description: string;
    pubDate: string;
    minutesRead: string;
  };
}

// TODO
const schema = {};
---

<!doctype html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="/favicon/sitemap-index.xml" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.origin} />
    <meta
      property="og:image"
      content={image || "https://diadema.studio/og-image.png"}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={image || "https://diadema.studio/og-image.png"}
    /> -->

    <link rel="preconnect" href="https://cdn.fontshare.com" />
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="04ef2638-4aac-4bb6-80fd-5ac4e003dfee"></script>
    <ViewTransitions />
  </head>
  <body class="flex flex-col justify-center items-center overscroll-none">
    <slot name="loader" />
    <slot />
  </body><script>
    import { timeline, type TimelineDefinition } from "motion";
    import { loaderAnimation } from "../../constants";

    timeline([loaderAnimation] as TimelineDefinition);
  </script>
</html>
